.corpo__corpo{
    text-align: center;
    width: 100%;
}
.corpo__titulo{
    display: flex;
    margin-left: 130px;
    margin-top:30px;
    font-size: 36px;
    font-family: var(--titulo);
    line-height: 1.8;
}
.corpo__sobre{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;
    margin-left: 130px;
}
.corpo__texto{
    font-family: var(--texto);
    text-align: justify;
}
.corpo__conteudo{
    display: flex;
    gap: 27px;
    width: 100%;
    padding-left: 130px;
}
.corpo__image{
    background-image: url('../../img/computer1.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 500px;
    width: 100%; */
    padding-right: 400px;
    margin-right: 30px;
    width: 1512.94px;
    height: 450px;
    top: 843.5px;
    left: -14px;

}
