.cabecalho__menu{
    background-image: url('../../img/fundo.png');
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-position: top;
    top: 0;
}
.menu{
    background-color: rgba(0,0,0,0.5);
    background-position: top;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
    
}
.menu__item{
    list-style-type: none;
    padding-inline: 18px;
}
.menu__link:hover{
    color: var(--laranja);
    border-bottom: solid var(--laranja);
}
.menu__item:last-child .menu__link{
    background-color: var(--laranja);
    color: var(--azul);
    border-radius: 100px 22px;
    padding: 5px;
}
.menu__item:last-child .menu__link:hover{
    background-color: var(--azul);
    color: var(--laranja);
}
.cabecalho__texto__centro{
    color: var(--branco);
    margin: 70px 300px 0 300px;
}